body{background-color: white;}
/*---this is a comment for css---*/
/*---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-------global styles-----*/
body{font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}
header. primary{
    background-color:red;
  }
  